<html>
    <head>
        <title>Hapodico - Verzamelen van Sportlink ID's</title>
        <link rel='stylesheet' id='open-sans-css'  href='//fonts.googleapis.com/css?family=Open+Sans%3A300italic%2C400italic%2C600italic%2C300%2C400%2C600&#038;subset=latin%2Clatin-ext&#038;ver=3.8' type='text/css' media='all' />
        
        <style type="text/css">
            body { 
                font-family: "Open Sans";
                font-size: 13px;
                background : #f1f1f1;
                color: #444;
            }
            
            #content { 
                width: 800px;
                background: #fff;
                border: 1px solid #efefef;
                padding: 30px;
                margin: 0 auto;
            }
            
            .selectbox {
                background: #222;
                color: #fff;
                padding: 20px;
                margin: 10px 0px;
            }
            
            .selectbox button {
                background: #0074a2;
                color: #fff;
                border: 0;
                font-family: "Open sans";
                font-size: 13px;
                height: 25px;
                width: 185px;
                display: block;
                margin-top: 15px;
            }
            
            .footer {
                background: #efefef;
                text-align: center;
                font-size: 12px;
                line-height: 25px;
            }
            
            table {
                width: 100%; 
            }
            
            tr:nth-child(even) {
                background-color: #efefef;
                line-height: 18px;
            }
            
            th {
                font-size: 14px;
                text-align: left;
            }
            
            td {
                font-size: 12px;
            }
            a { color: #0074a2; text-decoration: none;}
        </style>
    </head>
    <body>
        <div id="content">
            {% block body %}{% endblock %}
        </div>
        <p class="footer">
            Meer informatie? Stuur een mail naar paul [at] paulderaaij.nl
        </p>
    </body>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
</html>