{% extends 'base.twig' %}

{% block body %}
    <h1>Hapodico - Verzamelen van de juiste gegevens</h1>
    
    <table>
        <thead>
            <tr>
                <th>Team</th>
                <th>Poule ID</th>
                <th>Tag</th>
            </tr>
        </thead>
        <tbody>
            {% for id, team in teams %}
                <tr>
                    <td>{{ team }}</td>
                    <td>{{ id }}</td>
                    <td><pre>{hapodi id="{{id}}"}</pre></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
   
    <h3>Wat tof! Hoe krijg ik dit op mijn site?</h3>
    <p>
        Ik heb geprobeerd het zo simpel mogelijk te maken. Tenminste, als je een Joomla! site hebt. Ga dan 
        naar de <a href="https://github.com/pderaaij/hapodi" target="_blank">Hapodi github</a>. Afhankelijk van
        je Joomla! versie kun je hier direct de goede zip file downloaden. Deze kun je, indien je administrator, bent 
        direct installeren in je website. <strong>Vergeet niet na installatie de plugin te activeren via de extension manager</strong>.
    </p>
    
    <h3>Ik heb de extensie geïnstalleerd, en nu?</h3>
    <p>
        Eenvoudig, in het grijze vlak hierboven selecteer je jouw vereniging en klik je op 'Zoek gegevens'. De applicatie 
        zoekt dan de goede Sportlink gegevens op. In het overzicht wat je dan krijgt zie je tags staan. Deze tags kun je in 
        de tekst van een pagina plaatsen. De rest gebeurd vanzelf. Eitje toch?
        
        <br />
        Een tag ziet er als onderstaand uit:
        <pre>
            {hapodi id="22343"}
        </pre>
        Er mag gewoon tekst omheen staan, zolang de tag maar intact is. 
    </p>
    
    <a href="/">&ll; Terug naar beginpagina</a>
{% endblock %}